In [ ]:
# Melakukan import mysql connector
import mysql.connector

# Melakukan percobaan koneksi
conn = mysql.connector.connect(
    host="localhost", user="root", password="data2023", database="kalbe")

# Membuat object cursor sebagai penanda
cursor = conn.cursor()

# Deklarasi SQL Query untuk memasukkan record ke Database (KARYAWAN)
insert_sql = (
    "INSERT INTO KARYAWAN (FIRST_NAME, LAST_NAME, AGE, SEX, INCOME)"
    "VALUES (%s, %s, %s, %s, %s)"
)
values = ("Tasya", "Gurning", 23, "Female", 6000000)

try:
    # Eksekusi SQL Command 
    cursor.execute(insert_sql, values)

    # Melakukan perubahan (commit) pada Database
    conn.commit()
    
except Exception as e:
    # Roll back apabila ada issue
    print(f"Error: {e}")
    conn.rollback()

# Menutup koneksi
cursor.close()
conn.close()